<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
<meta charset="ISO-8859-1">
<title>List of Vets</title>
</head>
<body>
<h2 th:text="'List of Vets'">List of Vets..</h2>  

<table id="vets" class="table table-striped">
<thead>
<tr>
</tr>
<th>id</th>
<th>First Name</th>
<th>Last Name</th>
</thead>
<tr th:each="vet:${vets}">
<td th:text="${vet.id}">12</td>
<td th:text="${vet.firstName}">Spring action</td>
<td th:text="${vet.lastName}">Wrox</td>

</tr>

</table>
</body>
</html>